

:root {
    --mainBlue: #e3f2fd;
}




.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: var(--mainBlue);

}

.list-group {
    color: white;
}

.fw_bold {
    font-weight: 700;
    font-size: 12px;
    /* font-family: fnt4_13265, 'Segoe UI', sans-serif, arial ! important; */
    /* text-shadow: 0px 0px 0px grey, 0 0 1em lightblue, 0 0 0.2em #47484a; */

}

.my-container {
    min-height: 700px;
}

a {
    text-decoration: none;
    color: inherit;
}

.over-flow-hidden {
    overflow: hidden;
}

.footer {
    background-color: #e3f2fd;
    min-height: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.p-relative {
    position: relative;
}

button {
    min-width: 120px;
    height: fit-content;

}

.content-out {
    /* padding-top: 1rem; */
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    max-height: 600px;
    overflow: auto;
    scroll-behavior: smooth;
}

img {
    margin: 0 auto;
    display: block;
    max-width: inherit;
    width: -webkit-fill-available;
}

.hide {
    display: none ! important;
}

.test-block-body {
    text-align: start;
    padding-left: 19px;
}

.d-flex>p {
    margin: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.btnLast,
.btnNext,
.btnAnswer,
#btnAnswerQuestion36 {
    border: none;
}
.btnAnswer{
    margin-bottom: 1rem;
}

.input_checkBox {
    display: flex;
    cursor: pointer;

}

.input_checkBox input {
    margin-right: 1rem;
}

.d-flex>p {
    margin: 5px;

}

.answer {
    font-size: 16px;
    font-weight: 600;
}

.badge-result {
    background-color: LightBlue;
    border: none;
    color: black;
    font-weight: 600;
}

.badge {
    background-color: var(--mainBlue);
    color: black !important;
}

.error {
    color: red;
    text-decoration: line-through;
}

.right {
    color: green;
}

.bg-green {
    background: green !important;
}

.bg-red {
    background: red !important;
}

.bg-lightRed {
    background: Salmon !important;
}

.bg-lightGreen {
    background: PaleGreen !important;
}

.bg-lightGray {
    background: Gainsboro !important;
}

.bg-mainBlue {
    background: var(--mainBlue);
}
.bg-lightBlue {
    background: lightblue;
}



@media screen and (min-width: 500px) and (max-width: 1000px) {

    .align-bottom,
    .align-baseline {
        margin: 0px !important;
    }

    .align-baseline {
        margin: 0px !important;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media screen and (max-width:990px) {
    .navbar-toggler {
        margin-bottom: 8px;
    }

}

@media screen and (max-width:700px) {
    #block_result>button {
        width: 100%;
        margin-bottom: 2px;
    }
}

.start_test {
    background: lightblue;
    text-align: center;
    padding: 2rem;
    border-radius: 22px;
    cursor: pointer;
}

div>input:disabled {
    background-color: PaleGreen !important;
}

.active-item {
    background: lightblue !important;
    
}

.hidden {
    visibility: hidden;
}

.textJustify{
    text-align: justify;
}

.textIndent{
    text-indent: 2rem !important;
}
.m0>p{
    margin-bottom: 0px !important;
}
.textCenter{
    text-align: center;
}

.m0>button{
    margin-bottom: 1rem !important;
}

.mainImg{
    height: 575px !important;
    height: 82%;
}
.lightOpacity{
    opacity: 5%;
}
.width320{
    width: 324px !important;
    animation: width;
    animation-timeline: 1s;
}

@keyframes width {
    from {
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 324px;
    }
  }

  .divInpuHead{
    position: relative;
  }
  
  
  
 
  #counFinder{
    font-size: 25px;
    margin: 0px;
    width: 52px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  .arrow{
    width: 20px;
    cursor: pointer;
    padding-top: 8px;
  }
  .headTitle{
    margin-top: 20px;
  }
  #findAncor{
    width: 40px;
    cursor: pointer;
  }
  
ul{
    margin-bottom: 0 !important;
}
.wikiArticle{
    text-align: justify;
    text-indent: 2rem !important;
    margin-bottom: 0 !important;
}
.mainImg{
    display: block;
}
